*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* .main{
    width: 100%;
    min-height: 100hv;
    background: grey;
    float: left;
} */

.k-header{
    width: 100%;
    min-height: 15vh;
    background: blue;
    padding: 5px;
}

.k-center{
    width: 100%;
    min-height: 70vh;
    background: pink;
    margin: 15px 0;
}

.k-nav{
    width: 25%;
    min-height: inherit;
    background: aqua;
    padding: 5px;
}

.k-articl{
    width:50%;
    min-height: inherit;
    background: brown;
    margin: 0 10px;
    padding: 5px;
}

.k-add{
    width: 25%;
    min-height: inherit;
    background: aqua;
    padding: 5px;
}

.k-footer{
    width: 100%;
    min-height: 15vh;
    background: blue;
    padding: 5px;
}
.k-header, .k-center,  .k-nav, .k-articl, .k-add, .k-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 887px) {
    .k-header{
        width: 100%;
    }
     .k-center {
        display: flex;
        flex-direction: column;
     }
    .k-nav{
        width: 100%;
        min-height: inherit;
        margin: 15px 0;
    }

    .k-articl{
        width: 100%;
        min-height: inherit;
    }

    .k-add{
        width: 100%;
        min-height: inherit;
        margin: 15px 0;
    }

    .k-footer{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 887px) {
    .k-nav{
        width: 440px;
    }

    .k-articl{
        width: 500px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1055px) {
    .k-nav{
        width: 250px;
    }
    
    .k-articl{
        width: 690px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
